<div class="container-fluid mt-5 about-style"id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Me</h1>
                <p class="text-center sub-heading"> ---- </p>
                <div class="row">
                     <div class="col-md-6 col-12 hero-text ">
                        <figure>
                            <img src="image/about.svg" alt="">
                        </figure>

                    </div>

                   
                    {{!-- right side  --}}
                     <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                        <h1>Passionate Web Developer and Programmer</h1>
                        <P>My Self  <span class="bold-style">
                          VIVEK KUMAR SINGH
                        </span>Currently Pursuing  Engineering In Information Technology. I Am Very Passionate About Improving My Coding Skills & Developing My Own Softwares. Having Some Experience In Web Development. Interested In web Development and Competitive coding .  </P>
                        <a href="https://drive.google.com/file/d/1ivEdX9fKDzDPMyutYsersG1wLGLP6cRn/view?usp=drivesdk" target="_blank">
                            <button class="btn-style btn-primary">DOWNLOAD RESUME</button>
                        </a>
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

