
    <div class="container-fluid mt-5 contact-style"id="contactid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Contact us</h1>
                <p class="text-center sub-heading"> -- --</p>


                <div class="row">
                     <div class="col-md-6 col-12 mx-auto ">


<div>
<h2>viveksingh900rk@gmail.com</h2><br>
<h2>8574129290</h2>

<h4>OR</h4>
<h2>Contact through Live Chat Button</h2>
</div>


</div>
</div>
</div>
</div>
</div>