<style>
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #f16232;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





</style>

<footer class="footer">
        <div>
            <div class="row">
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=100009585611296"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/viveksi25647256"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/vs_viveksingh_/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/vivek-singh-33a491188/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
       <p class="text-center sub-heading">   <span>Created By <a href="#">VIVEK</a> | <span class="far fa-copyright"></span> 2021 All rights reserved.</span>   </p>

   </footer>