<div class="container-fluid mt-5 website-style" id="projectid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Projects </h1>
            <p class="text-center sub-heading">--Grow your business with us-- </p>
            <div class="row">


                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">

                                {{!-- <img src="https://i.imgur.com/6NKPrhO.png" alt=""> --}}
                                <img src="image/w.png"class="html" alt="">
                            </div>
                            <h4>WEATHER-REPORT</h4>

                         
                                <div>
                                    <img src="image/www.gif" class="aboutgif" alt="">
                                </div>
                            
                            <a
                                href="https://cyphon-tech-weather.herokuapp.com/" target="_blank">
                                <div>
                                    <h6>click to view</h6>
                                </div>
                            </a>

                            
                        </div>
                    </div>
                </div>




                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                {{!-- <img src="https://i.imgur.com/AgyneKA.png" alt=""> --}}
                                <img src="image/f.png"class="html" alt="">
                            </div>
                            
                            <h4>FOOD-ORDER</h4>

                         
                                <div>
                                    <img src="image/f2.gif" class="aboutgiffood" alt="">
                                </div>
                        
                            <a
                                href="https://cyphon-tech-food-world.netlify.app"  target="_blank">
                                <div>
                                    <h6>click to view</h6>
                                </div>
                            </a>

                            
                            
                        </div>
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                {{!-- <img src="https://i.imgur.com/vdH9LKi.png" alt=""> --}}
                                <img src="image/nn.png"class="html" alt="">
                            </div>

                            <h4>NOTES-MAKING</h4>
                           
                                <div>
                                    <img src="image/notes.gif" class="aboutpic" alt="">
                                </div>
                            
                              <a
                                href="https://notes-cyphon-tech.netlify.app" target="_blank">
                                <div>
                                    <h6>click to view</h6>
                                </div>
                            </a>
                            
                        </div>
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                {{!-- <img src="https://i.imgur.com/v6OnUqu.png" alt=""> --}}
                                <img src="image/tr.png"class="html" alt="">
                            </div>
                            <h4>TRAVELING</h4>
                        
                            
                                <div>
                                    <img src="image/tn.gif" class="tr"id="travel" alt="">
                                </div>
                        
                            <a
                                href="https://travel-cyphon-tech.netlify.app/" target="_blank">
                                <div>
                                     <h6>click to view</h6>
                                </div>
                            </a>
                          
                        </div>
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                {{!-- <img src="https://i.imgur.com/VzjZw9M.png" alt=""> --}}
                                <img src="image/net.png"class="html" alt="">
                            </div>
                            <h4>STREAMING</h4>
                           {{!-- <a --}}
                                {{!-- href="" target="_blank"> --}}
                                <div>
                                    <img src="image/st.gif" class="aboutpic" alt="">
                                </div>
                            {{!-- </a> --}}
                            <h6>still in work</h6>
                        </div>
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                {{!-- <img src="https://i.imgur.com/6NKPrhO.png" alt=""> --}}
                                <img src="image/re.png"class="html" alt="">
                            </div>
                            <h4>REPORT</h4>
                            {{!-- <a --}}
                                {{!-- href="" target="_blank"> --}}
                                <div>
                                    <img src="image/rr.gif" class="aboutpic" alt="">
                                </div>
                            {{!-- </a> --}}
                           <h6>still in work</h6>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
</div>