<div class="container-fluid mt-5 about-style"id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">MY SKILLS</h1>
                <p class="text-center sub-heading"> WEB DEVELOPMENT </p>

                      
                                  <button id="skill" class="btn-style btn-primary">HTML</button>
                                  <button id="skill" class="btn-style btn-primary">CSS</button>
                                  <button id="skill" class="btn-style btn-primary">JAVA SCRIPT</button>
                                  <button id="skill" class="btn-style btn-primary">MONGODB</button>
                                  <button id="skill" class="btn-style btn-primary">EXPRESSJS</button>
                                  <button id="skill" class="btn-style btn-primary">REACTJS</button>
                                  <button id="skill" class="btn-style btn-primary">NODEJS</button>

                                  <p class="text-center sub-heading"> OTHER SKILL </p>

                                  <button id="skill" class="btn-style btn-primary">C AND C++</button>
                                  <button id="skill" class="btn-style btn-primary">PYTHON</button>
                                  <button id="skill" class="btn-style btn-primary">DATA STRUCTURE</button>
                                  <button id="skill" class="btn-style btn-primary">ALGORITHM</button>
                                  <button id="skill" class="btn-style btn-primary">DBMS</button>
                                  <button id="skill" class="btn-style btn-primary">GOOGLE CLOUD</button>






                                  
                    


                </div>
                </div>
                </div>