<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Work on </h1>
            <p class="text-center sub-heading"> --still working on--</p>
            <div class="row">
               <div class="col-md-4">
                  <div class="box">
                     <div class="our-services database">
                       <div class="icon">
                          {{!-- <img src="https://i.imgur.com/6NKPrhO.png" alt="">  --}}
                          <img src="image/html.png"class="html" alt=""> 
                          </div>

                          <h4>HTML</h4>
                          <p>The HyperText Markup Language, or HTML is the standard markup language for documents designed to be displayed in a web browser.  </p>
                       </div>
                     </div>
                  </div>
               <div class="col-md-4">
                  <div class="box">
                     <div class="our-services privacy">
                       <div class="icon">
                          <img src="image/css.png"class="html" alt=""> 
                          </div>

                          <h4>CSS</h4>
                          <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written  language such as HTML. </p>
                       </div>
                     </div>
                  </div>
               <div class="col-md-4">
                  <div class="box">
                     <div class="our-services backups">
                       <div class="icon">
                          <img src="image/js.png"class="html" alt=""> 
                          </div>

                          <h4>JAVASCRIPT </h4>
                          <p>JavaScript,   often  abbreviated  as  JS, it is a programming language that conforms to  the ECMAScript  specification for website </p>
                       </div>
                     </div>
                  </div>
               <div class="col-md-4">
                  <div class="box">
                     <div class="our-services ssl">
                       <div class="icon">
                          <img src="image/fz.png"class="html" alt=""> 
                          </div>

                          <h4>EXPRESS JS</h4>
                          <p>Express.js, or simply Express, is a back end web application framework for Node.js,It is designed for building website APIs. </p>
                       </div>
                     </div>
                  </div>
               <div class="col-md-4">
                  <div class="box">
                     <div class="our-services database">
                       <div class="icon">
                          
                          <img src="image/mm.png"class="html" alt=""> 
                          </div>

                          <h4>MONGODB</h4>
                          <p>MongoDB is a source-available cross-platform document-oriented database program. MongoDB uses JSON-like documents . </p>
                       </div>
                     </div>
                  </div>
               <div class="col-md-4">
                  <div class="box">
                     <div class="our-services speedup">
                       <div class="icon">
                          <img src="image/n.png"class="html" alt=""> 

                          </div>

                          <h4>NODEJS</h4>
                          <p>Node.js is an open-source  environment runs on the V8 engine and executes JavaScript code outside web browser and other.</p>
                       </div>
                     </div>
                  </div>
               </div>

            </div>
        </div>
    </div>
</div>