@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  font-family: "Poiret One", cursive;
  font-weight: bold;
}



#loading
{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/5d79bf38627007.5809c7eab2bee.gif')
  no-repeat center;
  z-index: 999999;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}




li,
p,
a {
  font-size: 1.6rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}
h6
{
  font-size: 3rem;
  color: #fd5c63;

}
.row {
  margin: 0;
}

.navbar-style {
  background-color: #f8f9fa;
  box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
}
.foot {
  background-color: #f8f9fa;
  box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
}

#logo {
  display: initial;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #fd5c63;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #525252;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
  font-size: 1.9rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fd5c63;
}
#drop:hover
{
  color: #22dd73;
}

/* our hero sections  */

.hero-text h1 {
  font-size: 5.5rem;
  line-height: 1.5;
  text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
  letter-spacing: 1px;
  color: #2f2f2f;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero-text h1:nth-child(2) {
  font-weight: bold;
  color: #5222d0;
}
.hero-text h1:nth-child(3) {
  font-weight: bold;
  color: #5222d0;
}

.hero-text p,
.our-services p,
label {
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  color: #777676;
  text-transform: capitalize;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}

.hero-text p span {
  font-weight: bold;
  color: #000;
}

.btn-style {
  padding: 12px 25px;
  border: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #fff;
  background: #ec615b;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

/* about us style starts  */

.about-style {
  margin: 10rem 0;
}

.about-style .main-heading,
.service-style .main-heading,
.website-style  .main-heading,
.contact-style .main-heading {
  font-size: 5rem;
  color: #fd5c63;
  letter-spacing: 1px;
  font-weight: bold;
}

.about-style .sub-heading,
.service-style .sub-heading,
.website-style  .sub-heading,
.contact-style .sub-heading {
  font-size: 3rem;
  letter-spacing: 3px;
  line-height: 2;
  color: #333;
  font-weight: 500;
}
.aboutpic
{
  height: 100%;
  width: 100%;
}
.about
{
  height: 120%;
  width: 120%;
}
.vivek
{
  height: 100%;
  width: 100%;
}
.html
{
  height: 40%;
  width: 40%;
}
.piyush
{
  height: 100%;
  width: 100%;
}
#skill
{

  background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 50%);
  border-radius: 20px;
}

.toppic
{
  height: 50%;
  width: 50%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 100%;
}
#drop
{
  font-size: 2rem;
  font-weight: 2rem;
  color: #fd5c63;
}

#divv
{
  box-sizing: border-box;
  background-image: linear-gradient(-45deg, #f33474 0%, #f55b2a 50%);
  /* background-color: ; */
  border-radius: 100px solid red ;
}
.form-control
{
  font-size: 3rem;
  color: #fff;
}

.aboutgif
{
  height: 70%;
  width: 51%;
 
}
#travel
{
  height: 18rem;
  width: 18rem;

}
.aboutgiffood
{
  height: 100%;
  width: 100%;
  text-align: center;
 
}


/* our services style starts  */

.service-style {
  margin-bottom: 10rem;
}

.box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.our-services {
  margin-top: 75px;
  padding-bottom: 30px;
  padding: 0 30px;
  min-height: 198px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}

.our-services .icon {
  margin-bottom: -21px;
  transform: translateY(-50%);
  text-align: center;
}

.our-services h4 {
  font-size: 3rem;
  font-weight: bold;
}

.our-services:hover h4,
.our-services:hover p {
  color: #fff;
}

.speedup:hover {
  box-shadow: 0 0 25px 0 rgba(33, 39, 221, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #f33474 0%, #f55b2a 50%);
}

.settings:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #49d0da 0%, #210c59 50%);
}

.privacy:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #5035ec 0%, #44a2f6 50%);
}

.backups:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fd7f30 0%, #fdb642 50%);
}

.ssl:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #974eff 0%, #5a57fb 50%);
}

.database:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 50%);
}
/* our services style ends  */

/* contact us starts here  */

.contact-style {
  margin: 10rem 0;
}

label {
  margin-top: 2rem;
  margin-bottom: 0;
}

.form-control {
  padding: 2rem 1rem;
  font-size: 1.7rem;
  font-weight: 600;
}

#emailHelp,
::placeholder {
  font-size: 1.5rem;
}

::placeholder {
  font-weight: 600;
}

/* footer sections ends  */

footer {
  background: rgb(221, 217, 217);
}

footer p {
  padding: 1rem 0;
  margin: 0;
  text-align: center;
}

/* media queries part starts here  */

@media (max-width: 768px) {
  #logo {
    font-size: 2.5rem;
  }
  #skill
{
  border-radius: 200px;
  padding-left: 50px;
  padding-right: 50px;
  background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 50%);
}
.toppic
{
  height: 100%;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 100%;
}

  .hero-text h1 {
    font-size: 3rem;
  }

  figure {
    margin: 5rem 0;
  }

  figure img {
    min-width: 100%;
  }

  .hero-text p,
  .our-services p,
  label {
    font-size: 1.5rem;
  }

  .about-style .sub-heading,
  .service-style .sub-heading,
  .website-style  .sub-heading,
  .contact-style .sub-heading {
    font-size: 4rem;
  }
}


